body{
    background-color: rgb(111, 238, 111);
    font: normal 15pt Arial;   
}

header{
    color: white;
    text-align: center;
}


section{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(94, 88, 88);
    width: 70%;
}

footer{
    color: white;
    text-align: center;
}

div#foto{
    text-align: center;
    margin-top: 20px;
}

div#opcao{
    text-align: center;
    margin-top: 30px;
}

button{
    cursor: pointer;
    margin-right: 15px;
    border: none;
    padding: 10x;
    background-color: rgb(201, 189, 122);
    border-radius: 5px;
    font-weight: bold;
    border-bottom: 3px solid rgb(201, 189, 122);
}

button:hover{
    background-color: rgb(172, 196, 196);
    box-shadow: 0px 0px 20px rgb(172, 196, 196);
    transform: translate(0px, -5px);
}